name = "pastebin"
main = "src/worker.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist"
not_found_handling = "single-page-application"
binding = "ASSETS"
run_worker_first = ["/api/*"]

[[d1_databases]]
binding = "DB"
database_name = "pastebin-db"
database_id = "local"

[durable_objects]
bindings = [
  { name = "SSE_HUB", class_name = "SSEHub" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["SSEHub"]

[observability]
enabled = false
