name = "pastebin"
main = "src/worker.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist"

[[d1_databases]]
binding = "DB"
database_name = "pastebin-db"
database_id = "90dab82a-f1f5-4226-8b18-cbe2475503e4"

[observability]
enabled = false
